<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ name }} - {{ title }} | Curriculum Vitae</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        corePlugins: { preflight: false },
        theme: {
          container: { center: true },
          extend: {
            fontFamily: {
              sans: ['system-ui', '-apple-system', '"Segoe UI"', 'Roboto', '"Helvetica Neue"', '"Noto Sans"', '"Liberation Sans"', 'Arial', 'sans-serif', '"Apple Color Emoji"', '"Segoe UI Emoji"', '"Segoe UI Symbol"', '"Noto Color Emoji"'],
            }
          }
        }
      }
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div class="container page">
      <div class="flex flex-wrap">
        <div class="w-full md:w-1/2 col-print-6">
          <h1>{{ name }}</h1>
          <h4>{{ title }}</h4>
          <p>
            <time class="last-updated" datetime="{{ buildinfo.date }}">Last update: {{ updated }}</time>
          </p>
          <p>
            <span class="screen"><a href="{{ pdfFileName }}"><i class="fa-solid fa-file-pdf" aria-hidden="true"></i>&nbsp;Download PDF version</a></span>
            <span class="available-online print">
              The online version is available at <a href="{{ baseUrl }}" class="whitespace-nowrap"><i class="fab fa-github" aria-hidden="true"></i>&nbsp;{{ baseUrl }}</a>
            </span>
          </p>
        </div>

        <div class="facts-section w-full md:w-1/2 col-print-6">
          <dl>
            {{#each facts}}
            <dt>{{ @key }}</dt>
            <dd>{{{ this }}}</dd>
            {{/each}}
          </dl>
        </div>
      </div>

      <br class="print" />
      <p>{{ overview }}</p>
      <br class="print" />

      <h2>Key Achievements</h2>
      <div class="skills-section mb-6">
        <ul>
          {{#each achievements}}
          <li>{{ this }}</li>
          {{/each}}
        </ul>
      </div>

      <h2>Key Skills</h2>
      <div class="skills-section mb-6">
        {{#each skills}}
        <div>
          <h5>{{ name }}</h5>
          <ul>
            {{#each examples}}
            <li>{{ this }}</li>
            {{/each}}
          </ul>
        </div>
        {{/each}}
      </div>

      <h2>Professional Experience</h2>
      <div class="experience-section">
        {{#each experience}}
        <div class="mb-6 {{ className }}">
          <h5>{{ company }}</h5>
          <div>
          {{#each roles}}
            <h6 class="text-muted">
              <b>{{ title }}</b>  <span class="experience-right">{{ start }} &mdash; {{ end }}</span>
            </h6>
            <ul>
              {{#each items}}
              <li>{{ this }}</li>
              {{/each}}
            </ul>
          {{/each}}
          </div>
        </div>
        {{/each}}
      </div>

      <h2>Education</h2>
      <div class="education-section mb-6">
        <b>The University of Auckland</b> (July 2011 - 2014)
        <p>Bachelor of Commerce (Information Systems and Management)</p>
      </div>

      <h2>Interests</h2>
      <div class="interests-section mb-6">
        {{#each interests}}
        <span class="badge">{{ this }}</span>
        {{/each}}
      </div>

      <h2>Referees</h2>
      <p>Available upon request.</p>
    </div>
  </body>
</html>
