h1, h3, h4 {
  font-weight: 300;
}

h1, h2, h4, h5, h6 {
  padding: 0;
  margin: 0;
  margin-top: 0.4rem;
  margin-bottom: 0.15rem;
}

@media print {
  body {
    font-size: 0.8rem;
    line-height: 1.3;
  }

  h1 {
    font-size: 1.3rem;
  }

  h2 {
    font-size: 1.2rem;
    margin-top: 0.6em;
  }

  h4 {
    font-size: 1rem;
    font-weight: 400;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 0.8rem;
  }

  h6 b {
    font-weight: 600;
  }

  h6 span {
    font-weight: 400;
  }

  ul {
    padding-left: 1.2rem;
  }

  li {
    margin-bottom: 0;
  }

  p {
    margin-bottom: 0.2rem;
  }

  .mb-4 {
    margin-bottom: 0.5rem !important;
  }

  .container {
    max-width: 100%;
  }

  .screen {
    display: none;
  }

  dt, dd {
    font-size: 0.9em;
  }

  .facts-section dl.row {
    display: grid;
    grid-template-columns: auto auto;
    width: fit-content;
    margin-left: auto;
  }

  .facts-section dl.row dt {
    text-align: right;
    padding-right: 0.5em;
    width: auto;
  }

  .facts-section dl.row dd {
    text-align: left;
    margin-left: 0;
    width: auto;
  }

  .card {
    border: none;
  }

  .card-body {
    padding: 0;
  }

  .badge {
    border: 0.07rem solid #868e96;
  }

  .badge.bg-primary {
    color: inherit !important;
    background-color: inherit !important;
  }
}

@media not print {
  .print {
    display: none;
  }

  @media (min-width: 576px) {
    .page {
      margin-top: 10px;
      margin-bottom: 10px;
      box-shadow: 1px 1px 10px 0 rgba(0,0,0,0.75);
      position: relative;
      padding: 32px;
    }
  }

  h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  dt {
    font-weight: normal;
    text-align: right;
  }

  dd {
    text-align: left;
  }

  strong {
    font-weight: 500;
  }
}

@media print {
  .col-print-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-print-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-print-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-print-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-print-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-print-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-print-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-print-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-print-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-print-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-print-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-print-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

a .fa, a .fa-brands {
  text-decoration: none !important;
  margin-right: 5px;
}

.badge {
  font-weight: normal;
  letter-spacing: 0.05rem;
}

/* Customization */
.facts-section dl {
  display: grid;
  grid-template-columns: auto auto;
  width: fit-content;
  margin-left: auto;
}

.facts-section dl dt,
.facts-section dl dd {
  width: auto;
}

.facts-section a, .print a, .screen a {
  text-decoration: none;
}

.experience-right {
  float: right;
}
